<?xml version="1.0" encoding="UTF-8"?>
<model>
    <name>typhoon_480_ds</name>
    <version>1.0</version>
    <sdf version="1.7">model.sdf</sdf>
    <author>
        <name>Ashok Kumar J</name>
        <email>https://github.com/REGATTE</email>
        // yea right, as if I'm gonna share my email, lol!!
    </author>
    <description>This is a custom version of the IRIS Drone, added with a depth sensing camera.</description>
</model>